body {
  min-height: 75rem;
  position: relative;
}

div.col-sm-9 div {
  height: 250px;
  font-size: 28px;
}

.mm-btn{
  width:75px;
}

.btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

.body-item:hover {
  opacity:1;
}

/* #fbb4ae
#b3cde3
#ccebc5
#decbe4
#fed9a6
#ffffcc
#e5d8bd
#fddaec
#f2f2f2 

#fbb4ae
#f3a09b
#eb8c87
#e37874
#db6461
#d3504d
#cb3c3a
#c32827
#bb1413
#b30000
*/

#section1 {background-color: #fbb4ae;}
#section2 {background-color: #b3cde3;}
#section3 {background-color: #ccebc5;}
#section4 {background-color: #decbe4;}
#section5 {background-color: #fed9a6;}
#section6 {background-color: #ffffcc;}
#section7 {background-color: #e5d8bd;}
#section8 {background-color: #fddaec;}
#section9 {background-color: #f2f2f2;}



